---
layout: default
---
<div id="post">
  {{ content }}
</div>
<div id="related">
  <div class="row-fluid">
    <div class="span4">
      <h5>Related Posts</h5>
      <ul class="posts">
        {% for post in site.related_posts limit:3 %}
          <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </div><!--/span-->
    <div class="span4">
      <h5>Tags</h5>
      <ul class="posts">
        {% for post in page.tag limit:3 %}
          <li> &raquo; {{ post }} </li>
        {% endfor %}
      </ul>
    </div><!--/span-->
    <div class="span4">
      <h5>Dans la même catégorie</h5>
      <ul class="posts">
        {% for post in site.categories[page.category] limit:3 %}
          <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </div><!--/span-->
  </div><!--/row-->
</div>
<div id="related">
  <div class="row-fluid">
    <div class="span8 offset2">
      {% include comments.html %}
    </div>
  </div>
</div>
